/.svn
/.vs/
/CacheInterceptor/bin/
/CacheInterceptor/obj/
/CacheInterceptor.Test/bin/
/CacheInterceptor.Test/obj/
/LoggerInterceptor/bin/
/LoggerInterceptor/obj/
/LoggerInterceptor.Test/bin/
/LoggerInterceptor.Test/obj/
/packages/