<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="logfile" xsi:type="File" fileName="${basedir}/log/${date:format=yyyy-MM-dd HH\:mm\:ss}.txt"  archiveFileName="${basedir}/log/{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Minute"
            archiveDateFormat="yyyy-MM-dd HH\:mm\:ss">
      <!--layout="${longdate}|${level:uppercase=true}|${logger}|${message}"-->
      <!--layout="${log4jxmlevent}"-->

      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Comma-separated list (string)">
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="time" layout="${longdate}" />
        <attribute name='message' layout='${message}' />
        <attribute name='exception' layout='${exception}' />
      </layout>

    </target>
    <target name="logfile2" xsi:type="File" fileName="file2.txt" />
    <target name="console" xsi:type="Console" />
    
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <!-- add your logging rules here -->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
